<!DOCTYPE html>
<html lang="en">
<head>
  <title>RPData Demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    .noshow {
      display: none;
    }

    .glyphicon.spinning {
        font-size: 40px;
        animation: spin 1s infinite linear;
        -webkit-animation: spin2 1s infinite linear;
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg); }
        to { transform: scale(1) rotate(360deg); }
    }

    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">RPDemo</a>

    </div>

    <ul class="nav navbar-nav">
        <li class="active" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span id="selectedSuburb">Choose a suburb</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="dropdownSuburb">
            <%-links%>
          </ul>
        </li>
      </ul>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span id="selectedPropertyType" data-property-type="1">House</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="dropdownPropertyType">
            <!--1 = Houses 2 = Units + 3 = Land 4 = Apartments 5 = Flats 6 = all Residential types -->
            <li><a href="#" class="property-type" data-property-type="1">House</a></li>
            <li><a href="#" class="property-type" data-property-type="2">Unit</a></li>
          </ul>
        </li>
      </ul>



      <ul class="nav navbar-nav navbar-right">
        <!--li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li-->
      </ul>
    </div>
  </div>
</nav>
  <%-body%>
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-1 sidenav text-left">
      
      <!--p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p-->
    </div>
    <div class="col-sm-10 text-left"> 

      <div class="noshow jumbotron text-center">
        <h1 class="noshow" id="nodata">No data available</h1>

        <div class="noshow" id="loading">
          <span class="glyphicon glyphicon-refresh spinning"></span> 
          <h2>Loading...    </h2>
        </div>
      </div>

      <img id="graph"></img>

    </div>
    <div class="col-sm-1 sidenav">
      <!--div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div-->
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <!--p>RPData Demo</p-->
</footer>

</body>
<script type="text/javascript">

    $( document ).ready(function() {
        

        /*$('#dropdownPropertyType li').on('click', function() {
                $('#selectedPropertyType').html($(this).find('a').html());
                $('#selectedPropertyType').data('property-type', $(this).find('a').data('property-type'));
        });*/

        var status = $('.jumbotron');

        var showChart = function (e) {
            var item = $(e.target);
            var className = item.attr('class');

            var dropdown = $('#selectedPropertyType');
            if (className == 'suburb') {
               dropdown = $('#selectedSuburb');
            }

            dropdown.html(item.html());
            dropdown.data(className, item.data(className));

            $("#graph").hide();
            $('#nodata').hide();
            $('#loading').show();
            status.show();

            $("#graph").attr("src", "/chart/" 
              + $('#selectedSuburb').data('suburb') + '/' 
              + $('#selectedPropertyType').data('property-type') + '/' 
              + parseInt($(".col-sm-10").width()) + '/' 
              + parseInt($(".col-sm-1").height()));
            
            e.preventDefault();
        };

        $("#graph").on('error', function() { 
          $(this).hide();
          $('#nodata').show();
          $('#loading').hide();
        }).on('load', function() { 
          $(this).show();
          status.hide();
        });

        $(".suburb").click(showChart);
        $(".property-type").click(showChart);
    });
    
   
</script>
</html>
