body  {
  font-size: 16px;
  line-height: 1.5;
}

/* header */
#site-header .navbar  {
  border-radius: 0;
  border: none;
  margin: 0;
}

/* main section */
#site-main  {
  padding-bottom: 50px;
  padding-top: 50px;
}

/* footer */
#site-footer  {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 12px;
  background: #222;
  color: #999;
}

.property-attribute td {
  width: 70px;
  height: 70px;
  background-repeat:no-repeat;
  vertical-align:bottom;
  text-align:center;
  border: 1px;border-color: grey;border-style: solid;
}

.property-info tr {
  border-bottom: 1px;border-bottom-color: black;border-bottom-style: dashed; line-height: 30px;
}

.heading {
  color: red;
  font-weight: 600;
  padding-left: 10px;
}

.flex-container{
  display: flex; 
}

.flex-container-inner{
  display: flex; 
  flex-wrap: wrap;
}

@media screen and (max-width:1100px) {
  .flex-container   { flex-wrap: wrap;  }
  .flex-item:first-child { flex-basis: 100%; }
}
@media screen and (max-width:660px){
  .flex-container{flex-flow:column;}
  .flex-item:first-child {flex-basis:100%;max-width: 87%}
}