<!--div class="jumbotron text-center">
    <h1>Home Page</h1>

    <a href="/events" class="btn btn-lg btn-danger">See Events</a>
</div-->

<%- contentFor('links') %>

<% for(var i=0; i<suburbs.length; i++) { %>
        <li><a href="#" class="suburb" data-suburb="<%= suburbs[i].localityId%>" id="suburb-<%= suburbs[i].localityId%>"><%= suburbs[i].locality %></a></li>
<% } %>
