<% for(var i=0; i < propertySummaryList.length; i++) { %>
<table>
	<tr>
		<td><b>10 Keats Street Carlingford NSW 2118</b></td>
		<td></td>
		<td></td>
		<td>
			<img src="img/bed.gif">
			<img src="img/bath.gif">
			<img src="img/carpark.gif">
			<img src="img/area.gif">
		</td>
	</tr>
	<tr>
		<td>
			Sale Price:
		</td>
		<td>$1,353,000</td>
		<td></td>
		<td>
			Lot/Plan: 18/DP217843
		</td>
	</tr>
	<tr>
		<td>Sale date:</td>
		<td>06/06/2016</td>
		<td></td>
		<td>
			Map ref: UBD NSW: SYD172, G16
		</td>
	</tr>
	<tr>
		<td>
			Sales type:
		</td>
		<td>Unknown</td>
		<td>Sales advised by:</td>
		<td>
			Agent
		</td>
	</tr>
	<tr>
		<td>
			Sold by:
		</td>
		<td>Now Property</td>
		
	</tr>
</table>
<% } %>